*   Name-Yashasavi Jain

*   PRN-25070123127

*   Batch-B3

*   Aim- Study of Pandas Liabrary

In [173]:
# NOTE-USE RUN ALL

In [174]:
# Introduction to Pandas
# Pandas : Panael Data
'''Used for:
Structured Data
EDA
Data Cleaning'''

'Used for:\nStructured Data\nEDA\nData Cleaning'

In [175]:
import pandas as pd
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [176]:
# Create DataFrame
data={
    "Name":["A","B","C"],
    "Marks":[85,90,78]
}
df = pd.DataFrame(data)
print(df)
# df.head() gives us the first 5 rows
# df.tail() gives us the last 5 row

  Name  Marks
0    A     85
1    B     90
2    C     78

In [177]:
# Find the Structure of the DataFrame
print(df.shape)

(3, 2)

In [178]:
print(df.ndim)

2

In [179]:
print(df.size)

6

In [180]:
# Display Column Names
print(df.columns)

Index(['Name', 'Marks'], dtype='object')

In [181]:
# Check Data Types of each Column
print(df.dtypes)

Name     object
Marks     int64
dtype: object

In [182]:
# Access Individual Column
print(df["Name"])

0    A
1    B
2    C
Name: Name, dtype: object

In [183]:
print(df["Marks"])

0    85
1    90
2    78
Name: Marks, dtype: int64

In [184]:
# Access Name of first row
print(df.loc[0,"Name"])

A

In [185]:
print(df.iloc[0,1])

85

In [186]:
# Add a New Column
'''If marks 80-90 First Class
if marks>=90-Distinction
if marks>=80-Second Class'''

df["Grade"]=["First Class","Distinction","Second Class"]
print(df)

  Name  Marks         Grade
0    A     85   First Class
1    B     90   Distinction
2    C     78  Second Class

In [187]:
# Update Data in DataFrame
# Change marks of student A to 88.
df.loc[0,"Marks"]=88
df.iloc[1,1]=91
print(df)

  Name  Marks         Grade
0    A     88   First Class
1    B     91   Distinction
2    C     78  Second Class

In [188]:
df1=df.drop("Grade", axis=1)
print(df1)
print(df)

  Name  Marks
0    A     88
1    B     91
2    C     78
  Name  Marks         Grade
0    A     88   First Class
1    B     91   Distinction
2    C     78  Second Class

In [189]:
# Perform Basic Statistical Analysis
mean1=df["Marks"].mean()
print(mean1)

85.66666666666667

In [190]:
min1=df["Marks"].min()
print(min1)

78

In [191]:
max1=df["Marks"].max()
print(max1)

91

In [192]:
# Apply Condition (Filtering)
# Display students scoring more than 80.
df[df["Marks"]>80]

  Name  Marks        Grade
0    A     88  First Class
1    B     91  Distinction